<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments :: head}"></head>
	<body>
		<header th:insert="~{fragments :: header}"></header>		
		<main class="col-8 mx-auto py-5">
			<div class="row text-center">				
				<h1 th:text="'Best of the year by ' + ${name} + '!'"></h1>				
			</div>
			<div class="row py-3">
				
				<div class="card">
				  <img src="/img/shoot.jpg" class="card-img-top" alt="View of alpine lake">
				  <div class="card-body">
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>				  
				</div>	
			</div>			
		</main>
		<footer th:replace="~{fragments :: footer}"></footer>	
		<th:block th:replace="~{fragments :: scripts}"></th:block>
	</body>
</html>