<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>[[ ${title} ]]</title>
		
		<!-- Bootstrap CSS -->
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
		
	</head>
	<body>
		<header class="bg-secondary-subtle border border-secondary">
			<div class="container-fluid">
				<div class="row p-3">				
					<div class="col-2 py-1">Best of</div>
					<div class="col-10 d-grid gap-2 d-md-flex">
						<button type="button" class="col-2 btn btn-outline-secondary btn-sm p-2">Movies</button>						
						<button type="button" class="col-2 btn btn-outline-secondary btn-sm p-2">Songs</button>	
					</div>					
				</div>					
			</div>			
		</header>
		<main class="col-8 mx-auto py-5">
			
			<div class="row text-center">
				<h2 th:text="${title}"></h2>
			</div>
			
			<div class="row py-3">				
				<p th:text="${list}"></p>		
			</div>			
		</main>	
	</body>
</html>